<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edugo - Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='/styles/MainPageStyle.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="section-left">
            <a  href="/">
                <img src="{{ url_for('static', filename='/images/edugo-logo.png') }}"
                alt="logo" style="height: 50px;">
            </a>
        </div>
        <div class="section">
            <div class="bold">
                <p>Ошибка</p>
            </div>
        </div>
        <div class="section-right">
            <div class="semi-bold">
                <a type="button" href="{{redirect}}">Назад</a>
            </div>
        </div>
    </header>       
    <div class="border-line"></div> 
    <div class="container">
        <p>{{error}}</p>
    </div>
</body>
</html>