<!DOCTYPE html>
<html>
<head>
    <title>Восстановление пароля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" 
    href="{{ url_for('static', filename='/styles/RegistrationPageStyle.css') }}">
</head>
<body>
    <section>
        <div class="signin">
            <div class="content">
                <h1 style="margin-bottom: 15px;">Восстановление</h1>
                  {% if error %}
                  <p style="color: red;text-align: center;">{{ error }}</p>
                  {% endif %}                         
                <div class="form">
                    <form method="POST">
                        <div class="inputBox">
                            <input type="email" id="email" name="email" required><i>Почта</i><br>
                        </div>
                        <div class="links">
                            <a style="color: #777373;font-weight: normal; text-decoration: underline;" href="/login">Вернуться к авторизации</a>
                        </div>
                        <div class="inputBox">
                            <input style="border-radius: 15px;" type="submit" name="recovery" value="Восстановить пароль">
                        </div>
                    </form>
                    <div class="links">
                        <a style="text-decoration: underline;color: rgb(138, 138, 138);" href="/">На главную</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
